body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
    background-image: linear-gradient(to bottom right, rgb(16, 218, 201), rgb(6, 88, 82)) ;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;

  }
  .ingredients {
    text-align: left;
    margin: 0 auto;
    max-width: 300px;
  }
  button {
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
  }
  .result {
    margin-top: 20px;
    font-weight: bold;
  }

  h1 {
        background: linear-gradient(45deg,rgb(158, 245, 238), rgb(50, 173, 165));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
  }